<div class="whiteCard headerPop">
  <h2>Learn from others through scheduled video chats</h2>
  <div class="fb-login-button">Login with Facebook</div>
  <p class="privacyNotif">We will never, ever violate your privacy.</p>
</div>

<div class="user-stream">
  <div class="user-stream-card">
    <div class="whiteCard onStream">
      <div class="imgContainer">
        <a href="#" class="button darkShadow">Schedule a chat</a>
        <img src="<%= asset_path "zach.png" %>">
        <h3 class="name">Zach Tratar</h3>
      </div>
      <p class="userDescription">
        I want to help midwestern entrepreneurs gain insight of what life is like in Silicon Valley.
      </p>
    </div>
    <ul class="darkCard compressSides">
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
    </ul>
  </div>
   <div class="user-stream-card">
    <div class="whiteCard onStream">
      <div class="imgContainer">
        <a href="#" class="button darkShadow">Schedule a chat</a>
        <img src="<%= asset_path "zach.png" %>">
        <h3 class="name">Zach Tratar</h3>
      </div>
      <p class="userDescription">
        I want to help midwestern entrepreneurs gain insight of what life is like in Silicon Valley.
      </p>
    </div>
    <ul class="darkCard compressSides">
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
    </ul>
  </div>

   <div class="user-stream-card">
    <div class="whiteCard onStream">
      <div class="imgContainer">
        <a href="#" class="button darkShadow">Schedule a chat</a>
        <img src="<%= asset_path "zach.png" %>">
        <h3 class="name">Zach Tratar</h3>
      </div>
      <p class="userDescription">
        I want to help midwestern entrepreneurs gain insight of what life is like in Silicon Valley.
      </p>
    </div>
    <ul class="darkCard compressSides">
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
    </ul>
  </div>

   <div class="user-stream-card">
    <div class="whiteCard onStream">
      <div class="imgContainer">
        <a href="#" class="button darkShadow">Schedule a chat</a>
        <img src="<%= asset_path "zach.png" %>">
        <h3 class="name">Zach Tratar</h3>
      </div>
      <p class="userDescription">
        I want to help midwestern entrepreneurs gain insight of what life is like in Silicon Valley.
      </p>
    </div>
    <ul class="darkCard compressSides">
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
      <li class="listItem">
        <img src="">
        <div class="withImage">
          <h4 class="title">Backplane</h4>
          <p class="description">Product Engineer</p>
        </div>
      </li> 
    </ul>
  </div>

</div>

